<h2> AdmitGenius Dahsboard Page</h2>


<a asp-area="" asp-controller="AgAdmin" asp-action="AddNewCounselor">Add New Counselor</a>
<br/><br/>
<a asp-area="" asp-controller="AgAdmin" asp-action="AddNewUniversity">Add New University</a>
<br />
<br />
---------------------------------------------
<br />
<br />
<a asp-area="" asp-controller="AgAdmin" asp-action="counselorregisterrequests">Review Counsilor </a>
<br />
<br />
<a asp-area="" asp-controller="AgAdmin" asp-action="universityregisterrequests">Review University</a>