<div style="display: flex;justify-content: center;margin: 35px;">
    <h1 style="font-size: 20px;color: #757575;">
        <i class="fas fa-info-circle"></i> Your previous request is still 
        <span style="font-style: italic;color: #4f4f4f;text-transform: capitalize;">"pending"</span>  
        Wait for the admin to 
        <span style="font-style: italic;color: green;text-transform: capitalize;">"approve"</span> 
        or 
        <span style="font-style: italic;color: #ff0000a6;text-transform: capitalize;">"reject"</span> 
        the request and you can make new request after that.
    </h1>
    <a asp-action="AllCommunity" asp-controller="Community"> Browse Other Communities</a>
</div>